@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
  padding-block: 2rem 0 1rem;
  text-transform: capitalize;
}

#root {
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
}
